
<!doctype html>



<html>

<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>detail</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <style>
  body{
  background-color:#1e1e1e;
  width:100%
  height:100%
  overflow-x:hidden;
  color:#fff;
  }


</style>
</head>

<body>

  <div class="banner">
    <img src="../static/images/banner.jpg">
    <div class="logo"> <h1>个人网页</h1>
    </div>
  </div>


<!--
  <div class="wrap">
    <div class="me clearfix">
      <div class="me-title">{{article.title}}</div>
      <div class="col-md-3">



      </div>

      <div class="me-info col-md-8 col-md-offset-1">
        <p>{{article.addtime}}</p>
        <p>{{article.clicknum}}</p>

        <p>{{article.content}}</p>
      </div>

    </div>
  </div>

 -->
  <div class="infors">
      <div class="newsview">
      <h3 class="news_title">{{article.title}}</h3>
      <div class="news_author"><span class="au01"><a href="about.html">YuningChen</a></span>
          <span class="dtime">{{article.addtime}}</span>
          <span class="viewnum">views（<a href="/">0</a>）</span>
          <div class="news_about">{{article.desc}}</div>
             <div class="news_infos"> {{article.content}}
             <p>
                 <a href="{%url 'index'%}">return</a>
             </p>
             </div>

          <div class="comments">
              <h4>comments</h4>

              <div class="commentcontent" style="border:solid">
                  <ul id="comments">
                      {% for comments in article.comments_set.all %}
                      <li>
                          <p><span>{{comments.nick_name}}</span><span style="float:right">{{comments.addtime}}</span></p>
                          <p>{{comments.content}}</p>
                      </li>
                      {% empty %}
                      <li>

                          <p>Haven't have comment yet~</p>

                      </li>
                      {% endfor %}
                  </ul>
              </div>

              <form action="{% url 'addcomment' %}" method="post">
                  {% csrf_token%}
                  <input type="hidden"name="id"value="{{article.id}}">
                  <div id="edit">
                  <p><span>say something...</span>num of comments:2</p>
                  <p><input type="text" name="uname" id="'uname" placeholder="enter your name"></p>
                  <p>
                      <textarea name="saytext" id="saytext" cols="80 " rows="10"></textarea>
                  </p>
                  <p><input type="submit" value="submit" id="btncomment"></p>
              </div><
                  /form>





          </div>


      </div>


      </div>



  </div>







</body>

</html>