
<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="banner">
    <img src="../static/images/banner.jpg">
    <div class="logo"> <h1>个人网页</h1>
    </div>
  </div>
  <nav class="menav navbar" role="navigation">
    <div class="container-fluid wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">&nbsp;</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">网站首页</a></li>
          <li><a href="about.html">个人简介</a></li>
          <li><a href="interest.html">兴趣爱好</a></li>
          <li><a href="resume.html">旅行日记</a></li>
          <li><a href="contact.html">给我留言</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrap">
    <div class="me clearfix">
      <div class="me-title">一个人</div>
      
      <div class="me-info col-md-8">
        <article>

        </article>

        <p>一抹嫩绿的色彩印证了春的到来，蒙蒙的天空里，小雨在淅沥沥地下着。昏黄的街灯，或远或近。像是在飘逐。心情，随小雨莫名的暗寂起来。一直希望自己能安静，很安静。就这样在貌似静谧的状态中，冬日渐渐离去。细雨如丝，轻轻敲打着窗棂。点点滴滴，晕染着寂寞的路灯……</p>
        <p> 不喜欢用预想来形容未来是个什么样子，觉得它离我还太远，有点遥不可及，也觉得现实有时太过实际了，我没有勇气甚至不敢去感知明天，感觉时光飞逝，我快有点赶不上现代的步伐了。</p>
        <p>  小时侯曾经许下诺言，长大做个有用的人，不再让那些关心我的人担心我的未来是什么样子，也象个大人一样有了人生的信条和人生的目标，有了生活的依靠，有个属于自己的温馨家庭，很有抱负的计划将来。但是长大以后才渐渐发现其实未来不好想象，也容易失去很多你原本计划的东西。</p>
      </div>
      <div class="col-md-3 col-md-offset-1">
          <img src="../static/images/cliff.png">
        </div>
    </div>
  </div>

</body>

</html>