<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/swiper.min.js"></script>
</head>

<body>
  <div class="banner">
    <img src="images/banner.jpg">
    <div class="logo"> <h1>个人网页</h1>
    </div>
  </div>
  <nav class="menav navbar" role="navigation">
    <div class="container-fluid wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">&nbsp;</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">网站首页</a></li>
          <li><a href="about.html">个人简介</a></li>
          <li><a href="interest.html">兴趣爱好</a></li>
          <li><a href="resume.html">旅行日记</a></li>
          <li><a href="contact.html">给我留言</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrap">
    <div class="me clearfix">
      <div class="me-title">兴趣爱好</div>

      <div class="me-info col-md-5">
        <p>我喜欢旅行。只想进行一场漫无目的的旅行，在一个有花有海、安静缓慢的地方晒着太阳无所事事。 </p>
        <p>我喜欢唱歌。我喜欢唱歌，虽然嘴上跑调，但我心中有谱。</p>
         <p>我喜欢运动。生命在于运动，保持健康的身体，离不开运动。生命在于运动，运动在于锻炼，锻炼贵在坚持，坚持就是胜利。</p>
      </div>
      <div class="col-md-7">
        <div class="swiper-container slide-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/Beijing.png"></div>
            <div class="swiper-slide"><img src="images/Brighton.png"></div>
            <div class="swiper-slide"><img src="images/London.png"></div>
            <div class="swiper-slide"><img src="images/NYC.png"></div>
            <div class="swiper-slide"><img src="images/santa.png"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
<script>
    var swiper = new Swiper('.slide-1', {
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true,
      autoplay: {
        delay: 5000,
      },
      slidesPerView: 3,
      spaceBetween: 30,
      autoheight:true,
    });
  </script>