<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/swiper.min.css">
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/swiper.min.js"></script>
</head>

<body>
  <div class="banner">
    <img src="../static/images/banner.jpg">
    <div class="logo"> <h1>个人网页</h1>
    </div>
  </div>
  <nav class="menav navbar" role="navigation">
    <div class="container-fluid wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">&nbsp;</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <ul class="nav navbar-nav">
            <li class="active"><a href={% url 'show' %}>index</a></li>
          <li><a href={% url 'about' %}>cv</a></li>
          <li><a href={% url 'interest' %}>interest</a></li>
          <li><a href={% url 'resume' %}>note</a></li>
          <li><a href={% url 'contact' %}>borad</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrap">
    <div class="me clearfix">
      <div class="me-title">login</div>

      <div class="me-info col-md-5">
         <form action="{% url 'login:tologin'%}" method="post">

                <input name="phone" type="text" class="kuang_txt" placeholder="手机号">
                <input name="password" type="text" class="kuang_txt" placeholder="密码">
                <div>
                       <input name="" type="checkbox" value="" checked><span>记住我</span><a href="#" style="float:rigth;">忘记密码</a>
                </div>
                <div>
                       <p>没有账号？<a href="{% url 'login:register'%}">立即注册</a></p>
                </div>
                <input style="margin-top:2px;" name="登录" type="submit" class="btn_zhuce" value="登录">
                </form>
      </div>
      <div class="col-md-7">
        <div class="swiper-container slide-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/images/Beijing.png"></div>
            <div class="swiper-slide"><img src="../static/images/Brighton.png"></div>
            <div class="swiper-slide"><img src="../static/images/London.png"></div>
            <div class="swiper-slide"><img src="../static/images/NYC.png"></div>
            <div class="swiper-slide"><img src="../static/images/santa.png"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
<script>
    var swiper = new Swiper('.slide-1', {
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true,
      autoplay: {
        delay: 5000,
      },
      slidesPerView: 3,
      spaceBetween: 30,
      autoheight:true,
    });
  </script>