<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
  <div class="banner">
    <img src="images/banner.jpg">
    <div class="logo"> <h1>个人网页</h1>
    </div>
  </div>
  <nav class="menav navbar" role="navigation">
    <div class="container-fluid wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">&nbsp;</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">网站首页</a></li>
          <li><a href="about.html">个人简介</a></li>
          <li><a href="interest.html">兴趣爱好</a></li>
          <li><a href="resume.html">旅行日记</a></li>
          <li><a href="contact.html">给我留言</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrap">
    <div class="me clearfix">
      <div class="resme-title">独龙江乡</div>
      <div class="me-info col-md-12">
        <ul class="prolist clearfix">
          <li>独龙江位于中缅边境、滇藏交界处的 云南 独龙江大峡谷内，生活着人口不足6000的“太古之民”独龙族，是我国原始生态保存最完整的区域之一，由于长期封闭，这里曾被誉为“ 云南 最后的秘境”，这里生活着独龙族特有的纹面女。</li>
          <li>是我国最后一个通公路的少数民族地区，于1999年才建成简易公路，这条路结构承载能力低，抗灾能力极弱，每年有半年的大雪封山期，此段道路无法通行。</li>
          <li>2017年9月22日，贡山县政府宣布独龙江景区暂停对外开放，从2017年10月1日至2019年9月30日，期间禁止游客进入独龙江乡境内。</li>
         
        </ul>
      </div>
    </div>
    <div class="me clearfix">
      <div class="resme-title">Oak Pass House 比佛利山庄上的建筑</div>
      <div class="me-info col-md-12">
        <p>Atelier Walker 在加利福尼亚的比佛利山庄为一位客户建造了这座漂亮的别墅。位于峡谷的边缘，这一宏伟的标记自然具有一种风景，可以让人喘气。周围的橡树为别墅提供了温柔而黑暗的气氛，使它成为一个独特的和平之地。玻璃在结构中的应用可以产生不改变位置的和谐。</p>
        <p><img src="images/a.jpg" style="width:100%; height:100%"></p>
      </div>
    </div>
   
  </div>

</body>

</html>