<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <tile>cyn</tile>
</head>
<body>
<h2>test page</h2>
<div style="width:100px ;height:300px;border:1px deepink solid;">
    能不能出来
    <br>
    can you see?
</div>

<div>
    <!-- 表单：form-->
    <form action=>
        <p>
             <input type="text"name="username"placeholder="请输入用户名">
        </p>
        <p>
            <input type="number"name="age">
        </p>
        <p>
            <input type="email"name="'email">
        </p>
        <p>
            <select name="" id="">
                <option value="1">北京</option>
                <option value="2>上海</option>
                <option value="3">天津</option>
                <option value="4">重庆</option>
                <option value="5">广州</option>
                <option value="6">深圳</option>
            </select>
        </p>
        <p>
            <textarea name="" id="" cols="80" rows="10"></textarea>
        </p>
        <p>
            <input type="checkbox">发表后自动分享本帖
            <br>
            <input type="checkbox">自动分享



        </p>
        <p>
            <input type="submit"value="提交">
            <input type="button"value="按钮">
            <br>
            <input type="reset"value="重置">
        </p>

    </form>
</div>

</body>
</html>